.list {
  margin-left: 100px;
}

.editor {
  margin-bottom: -5px;
}

.listTitle {
  font-size: 45px;
  color: #1a1919;
  margin-top: 25px;
}

.listBtn {
  background-color: #e7e7e7;
  font-size: 10pt;
  color: rgb(19, 18, 18);
  padding: 3px 3px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
  display: inline-block;
}

.input {
  width: 400px;
  height: 30px;
}

.listDiv{
  width: 1fr;
  overflow: hidden;
}

.checkBox {
  margin-right: 25px;
  width: auto;
  display: inline-block;
}

.listItem {
  margin-right: 20px;
  width: 360px;
  font-size: 16pt;
  display: inline-block;
}

.underMeny {
  width: 102px;
  margin-bottom: 5px;
}