.form {
    background-color: #ededed;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 15px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
   }

   .logIn {
    width: 50%;
    font-size: 16pt;
    }
    .createuser{
    width: 125px;
    font-size: 12pt;
    margin-left: 20px;
    }

    .color {
        text-align: center;
        font-size: 50px;
        color: #59918b;
    }
    .listitlogo {
        top: 150px;
        font-style: bold;
        font-size: 30pt;
        text-align: center;
       
     }
     
     .pText {
         font-size: 12px;
         text-align: center;
     }
     