.form {
    background-color: #ededed;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    width: 450px;
    margin-left: auto ;
    margin-right: auto ;
    margin-top: 120px ;
    font-family: 'Verdana', sans-serif;
<<<<<<< Updated upstream
   
   }





   .logIn {
    width: 50%;
    font-size: 18px;
    }

    .createuser {
        padding: 10px 20px;
        margin: 8px 0px 0px 50px;
        font-size: 12px;
=======
   }

   .logIn {
    width: 50%;
    font-size: 18px;
>>>>>>> Stashed changes
    }
    .createUser{
    width: 45%;
    
    font-size: 18px;
}

    .color {
        text-align: center;
        font-size: 50px;
        color: #59918b;
    }
<<<<<<< Updated upstream

=======
    
>>>>>>> Stashed changes
    .listitlogo {
        position: absolute; visibility: visible; left: 480px; top: 190px; height: 100px; width: 150px; z-index: 200; 
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-style: bold;
        font-size: 70px;
        text-align: center;
       
<<<<<<< Updated upstream
     }
     
=======
     }
>>>>>>> Stashed changes
