    body {
        overflow: hidden;
        color: #000;
        background-color: #ffffff;
        font-family: Verdana, Geneva, Tahoma, sans-serif

    }
    .logo {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-style: bold;
        font-size: 30px;
        color: #487e78;
        margin-top: 0px;
        margin-left: 20px;
        margin-bottom: -0,5px; 
        }

    .heading {
        text-align: center;
        font-size: 50px;
        color: #1a1919;
    }

    .heading2 {
      text-align: center;
      color: #1a1919;
      font-size: 20pt;
    }

    #container {
        overflow-y: auto;
        max-height: 500px;
    }

    input {
        width: 100%;
        height: 30px; 
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
      }

    button {
        background-color: #1a1919;
        color: white;
        padding: 5px 5px 5px 5px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }

      button:hover {
        background-color: #59918b;
      }

      .menyBtn {
        background-color: #a0bebb;
        font-size: 9pt;
        color: rgb(0, 0, 0);
        padding: 5px 5px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
      }

      input[type=checkbox]:checked {
        content: "H";
        text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
        font-size: 10pt;
        color: #000000;
        text-align: center;
        background-color: #59918b;
        }

        .noInp {
          border-color: red;
        }

        .center {
          text-align: center;
          position: 50%;
        }

        @media only screen and (max-width: 600px){

          #container {
            max-height: 300px;
        }
    
        }