.form {
    background-color: #ededed;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    width: 450px;
    margin-left: auto ;
    margin-right: auto ;
   }

    .createUser {
        width: 50%;
        font-size: 18px;
        }

    .profileheding {
        font-size: 30pt; 
    }