 .text {
   font-size: 14pt;
   margin-bottom: 7px;
   margin-top: 15px;
}

  .list {
    margin-left: 7.5%;
  }

  .hovedDiv {
    width: 1fr; 
    overflow : hidden;
  }

  .title {
    font-size: 50px;
    color: #1a1919;
    margin-bottom: 15px;
    margin-top: 20px;
    display: inline-block;
  }

  .username{
    margin-left: 20px;
    display: inline-block;
  }

  .modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.6); 
  }

  .innerForm {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 3% 4% 3% 4%;
    width: 550px;
    margin-top: 10%;
    margin-left: auto ;
    margin-right: auto ;
  }

  .close {
      color: #000000;
      float: right;
      margin-top: -10px; 
      font-size: 28px;
      font-weight: bold;
    }
    
    .close:hover,
    .close:focus {
        color: #59918b;
        text-decoration: none;
        cursor: pointer;
      }

  .updateBTN {
    width: 50%;
    font-size: 12pt;
    margin-top: 12px;
    margin-bottom: 18px;
    font-size: 18px;
    margin-right: 15%;
    }

  .deletuser{
      width: 30%;
      font-size: 9pt;
      display: inline-block;
      }
    
  .profileheding {
      font-size: 30pt; 
  }

  .listBtn {
    background-color: #e7e7e7;
    font-size: 10pt;
    color: rgb(19, 18, 18);
    padding: 3px 3px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    display: inline-block;
  }

  .checkBox {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    position: relative;
  }
  
  .listDiv{
    width: 1fr;
    overflow: hidden;
  }
  
  .listItem {
    margin-bottom: 20px;
    color: black;
    width: 40%;
    font-size: 16pt;
    display: inline-block;
    overflow-y: auto;
    max-height: 500px;
  }

  .listItem:hover {
    cursor: pointer;
    font-size: 18pt;
    color:  #267970;
  }
  
  .input {
    width: 20%;
    height: 30px;
  }
  
  p {
    display: inline-block;
    font-size: 10pt;
  }

  .error {
    color: red; 
    font-style: oblique;
    text-align: center;
  }

  .itemDiv {
    margin-bottom: 20px;
  }

  #taskItems {
    overflow-y: auto;
    max-height: 500px;
  }
  span {
    font-size: 10pt;
  }

  .publicItem {

    font-size: 18pt;
    color: #267970
    
  }

  @media only screen and (max-width: 600px){

    .input {
      width: 50%;
    }

    .heading {
      font-size: 30pt;
    }

    .heading2 {
      font-size: 15pt;
    }

    .listItem {
      font-size: 14pt;
      width: 60%;
    }

    .publicItem {
      font-size: 14pt;
    }
    
    .innerForm {
      padding: 2% 3% 2% 3%;
      width: 380px;
      
    }
  }


  
  

 