.list {
    margin-left: 100px;
  }

  .hovedDiv {
    width: 1fr; 
    overflow : hidden;
  }

  .title {
    font-size: 50px;
    color: #1a1919;
    margin-bottom: 15px;
    margin-top: 20px;
    display: inline-block;
  }

  .username{
    margin-left: 20px;
    display: inline-block;
  }
  
  .listBtn {
    background-color: #e7e7e7;
    font-size: 10pt;
    color: rgb(19, 18, 18);
    padding: 3px 3px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    display: inline-block;
  }
  
  
  .listDiv{
    width: 1fr;
    overflow: hidden;
  }
  
  .listItem {
    margin-right: 20px;
    width: 300px;
    font-size: 16pt;
    display: inline-block;
  }

  .input {
    width: 200px;
    height: 30px;
  }

  