.navbar {
  overflow: hidden;
  background-color: darkgray;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  margin-right: 5px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  border-radius: 0px;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color:  #688787;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color:  #688787
}

.dropdown:hover .dropdown-content {
  display: block;
}

.slide {
    background-color: #fff;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    width: 900px;
    height: 500px;
    margin-top: 30px;
    text-align: center;
    margin-left: 10%;
}

.titleslide {
    display: inline-block;
}



.slidetitle {
    font-size: 60px;
    width: 750px;
    color: #688787;
    text-align: center;
    margin-top: 130px;
}

.slidedescription {
    font-size: 25px;
    width: 750px;
    text-align: center;
    margin-top: -20px;
}

.slidetext {
    font-size: 12px;
    width: 300px;
}

.deletBtn {
    font-size: 16px;
    margin-left: 10%;
}
