.list {
  margin-left: 100px;
}

.editor {
  margin-left: 470px;
  margin-bottom: -5px;
}

.listTitle {
  font-size: 50px;
  color: #1a1919;
}

.tooltiptext{
  font-size: 9pt;
  color: #585858;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 150px;
  background-color:  rgb(226, 226, 226);
  color: rgb(5, 5, 5);
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  position: absolute;
  z-index: 1;
  top: -10px;
  left: 100%;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip{
  position: relative;
  display: inline-block;
}


#listInp {
  width: 500px;
}

.deleteBtn {
  background-color: #000000;
  font-size: 9pt;
  color: rgb(255, 255, 255);
  padding: 5px 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
